home-assistant.log*
home-assistant_v2.*
secrets.yaml
.HA_VERSION
.storage/
.uuid
known_devices.yaml
bravia.conf
__pycache__/
*.pem
.shopping_list.json
centronic-stick.db
blueprints/
solcast*.json
.vscode/
backups/
ha-bambulab/
.ha_run.lock
